import(methods)
import(BiocGenerics)
import(S4Vectors)
importFrom(DBI, dbDriver)
importFrom(Biobase, createPackage)
importFrom(GenomeInfoDb, Seqinfo, isCircular, genome)
importMethodsFrom(AnnotationDbi, dbconn)
importFrom(rtracklayer, import)
import(RSQLite)
import(GenomicFeatures)
import(GenomicRanges)
importFrom(IRanges, IRanges)
## AnnotationHub
importFrom(AnnotationHub, AnnotationHub)
importClassesFrom(AnnotationHub, AnnotationHub)
importMethodsFrom(AnnotationHub, query, mcols)
## Rsamtools
importClassesFrom(Rsamtools, FaFile, RsamtoolsFile)
importFrom(Rsamtools, FaFile)
importMethodsFrom(Rsamtools, getSeq, indexFa, path)
importFrom(Rsamtools, index)

#exportPattern("^[[:alpha:]]+")
export(fetchTablesFromEnsembl, makeEnsemblSQLiteFromTables, makeEnsembldbPackage,
       ensDbFromGtf, ensDbFromGRanges, runEnsDbApp)
exportClasses(EnsDb, BasicFilter, EntrezidFilter, GeneidFilter, GenebiotypeFilter,
              GenenameFilter, TxidFilter, TxbiotypeFilter, ExonidFilter, SeqnameFilter,
              SeqstrandFilter, SeqstartFilter, SeqendFilter)
## for EnsFilter
exportMethods(column, print, show, where)
## for class EnsDb:
exportMethods(dbconn, condition, buildQuery, ensemblVersion, exons, exonsBy, genes,
              getGenomeFaFile, lengthOf, listColumns, listGenebiotypes, listTxbiotypes,
              listTables, organism, seqinfo, toSAF, transcripts, transcriptsBy,
              disjointExons, metadata, promoters)
## constructors
export(EntrezidFilter, GeneidFilter, GenenameFilter, GenebiotypeFilter, TxidFilter,
       TxbiotypeFilter, ExonidFilter, SeqnameFilter, SeqstrandFilter, SeqstartFilter,
       SeqendFilter, EnsDb)



