## ensembldb NAMESPACE
import(methods)

importFrom("utils", "read.table", "str")
import(BiocGenerics)
importFrom(Biobase, createPackage, validMsg)
importMethodsFrom(ProtGenerics, proteins)
import(S4Vectors)
importFrom(DBI, dbDriver)
import(RSQLite)
importMethodsFrom(AnnotationDbi, dbconn, columns, keytypes, keys, select, mapIds)
importFrom(GenomeInfoDb, Seqinfo, isCircular, genome, seqlengths,
           seqnames, seqlevels, keepSeqlevels, seqlevelsStyle,
           "seqlevelsStyle<-", genomeStyles)
importFrom(rtracklayer, import)

## Ranges and stuff
importFrom(IRanges, IRanges)
##importClassesFrom(IRanges, IRanges, IRangesList)
importMethodsFrom(IRanges,subsetByOverlaps)
import(GenomicRanges)
import(GenomicFeatures)
##importMethodsFrom(GenomicFeatures, extractTranscriptSeqs)

## AnnotationHub
importFrom(AnnotationHub, AnnotationHub)
importClassesFrom(AnnotationHub, AnnotationHub)
importMethodsFrom(AnnotationHub, query, mcols)

## Rsamtools
importClassesFrom(Rsamtools, FaFile, RsamtoolsFile)
importFrom(Rsamtools, FaFile)
importMethodsFrom(Rsamtools, getSeq, indexFa, path)
importFrom(Rsamtools, index)

## Stuff needed for protein annotations.
importClassesFrom(Biostrings, AAStringSet)
importFrom(Biostrings, AAStringSet)
## importClassesFrom(Pbase, Proteins) ## causes a cyclic namespace dependency???

importFrom(RCurl, getURL)

## Testing:
## 1) importing Gviz, but not Pbase: cycle error: biovizBase, Gviz, ensembldb
## import(Gviz)
## 2) import just biovizBase: cycle error: biovizBase, ensembldb
## import(biovizBase)
## Seems to be OK, biovizBase imports ensembldb, thus if we're importing
## biovizBase we have the cyclic namespace.

## biovizBase
##importMethodsFrom(biovizBase, crunch)

#exportPattern("^[[:alpha:]]+")
export(fetchTablesFromEnsembl, makeEnsemblSQLiteFromTables, makeEnsembldbPackage,
       ensDbFromGtf, ensDbFromGff, ensDbFromGRanges, ensDbFromAH, runEnsDbApp,
       listEnsDbs)
exportClasses(EnsDb, BasicFilter, EntrezidFilter, GeneidFilter, GenebiotypeFilter,
              GenenameFilter, TxidFilter, TxbiotypeFilter, ExonidFilter,
              SeqnameFilter, SeqstrandFilter, SeqstartFilter, SeqendFilter,
              GRangesFilter, ExonrankFilter, SymbolFilter,
              ProteinidFilter, UniprotidFilter, ProtdomidFilter)
## for EnsFilter
exportMethods(column, print, show, value, where, "condition<-", "value<-",
              seqnames, start, end, strand, seqlevels)
## for class EnsDb:
exportMethods(dbconn, condition, buildQuery, ensemblVersion, exons, exonsBy,
              genes, getGenomeFaFile, lengthOf, listColumns, listGenebiotypes,
              listTxbiotypes, listTables, organism, seqinfo, toSAF,
              transcripts, transcriptsBy, disjointExons, metadata, promoters,
              cdsBy, fiveUTRsByTranscript, threeUTRsByTranscript,
              getGeneRegionTrackForGviz, updateEnsDb, transcriptsByOverlaps,
              exonsByOverlaps, returnFilterColumns,
              "returnFilterColumns<-", useMySQL)
## Protein data related stuff
exportMethods(hasProteinData, proteins)
export(listProteinColumns)
## Methods for AnnotationDbi
exportMethods(columns, keytypes, keys, select, mapIds)
## Methods for GenomeInfoDb and related stuff
exportMethods("seqlevelsStyle", "seqlevelsStyle<-", "supportedSeqlevelsStyles",
              seqlevels)

## constructors
export(EntrezidFilter, GeneidFilter, GenenameFilter, GenebiotypeFilter,
       TxidFilter, TxbiotypeFilter, ExonidFilter, SeqnameFilter,
       SeqstrandFilter, SeqstartFilter, SeqendFilter, EnsDb, GRangesFilter,
       ExonrankFilter, SymbolFilter, ProteinidFilter, UniprotidFilter,
       ProtdomidFilter)



